.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    background-color: white;
    height: 500px;
    grid-template-rows: 100px;
    padding-left: 14%;
}
.super{
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 200px;
    margin-top: 10%;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 1; 
}
.super:hover{
    box-shadow:2px 4px 2px 2px rgb(217, 213, 213);
}
.woman1{
    border: 2px solid black;
    border-radius: 10px;
    height: 250px;
    width: 200px;
    margin-top: 10%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column-end: 2;
}
.woman1:hover{
    box-shadow:2px 4px 2px 2px rgb(217, 213, 213);
}
.score{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-column-end: 5;
}
.villain:hover{
    box-shadow:2px 4px 2px 2px rgb(217, 213, 213);
}
.villain{
        border: 2px solid black;
        border-radius: 10px;
        height: 250px;
        width: 200px;
        margin-top: 10%;
}
.gem:hover{
    box-shadow:2px 4px 2px 2px rgb(217, 213, 213);
}
.gem{
        border: 2px solid black;
        border-radius: 10px;
        height: 250px;
        width: 200px;
        margin-top: 10%;
}